In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.DataFrame.rmul?

In [4]:
df = np.arange(6).reshape(3,2)
df

array([[0, 1],
       [2, 3],
       [4, 5]])

In [5]:
df1 = pd.DataFrame(df)
df1

   0  1
0  0  1
1  2  3
2  4  5

In [6]:
df2 = df1 *3
df2

    0   1
0   0   3
1   6   9
2  12  15

In [8]:
df3 = df1.rmul(df1)
?df3.query()

In [66]:
df4 = df1.rmul(df1, fill_value=2)
df4

    0   1
0   0   1
1   4   9
2  16  25

In [42]:
s = pd.Series([5, 3, 2, 4])
s

0    5
1    3
2    2
3    4
dtype: int64

In [43]:
s1 = s.mul(s, fill_value=3)
s1

0    25
1     9
2     4
3    16
dtype: int64

In [49]:
df2.rmul?

Object `df2.rmul` not found.

In [44]:
s4 = s.rmul(s)
s4

0    25
1     9
2     4
3    16
dtype: int64

Object `df1.rmul` not found.