In [ ]:
Working with time series data

In [17]:
# Working with time series data
import re
import numpy as np
import pandas as pd 

filename = '../data/Animals_center_data.csv'
# read data & create DataFrame
data = pd.DataFrame(pd.read_csv(filename))

# Convert the datetime column to actual datetimes
data['datetime'] = pd.to_datetime(data['datetime'])

# # Datetime-related functions are accessed through the .dt attribute
# data['year'] = data['datetime'].dt.year
# data['hour'] = data['datetime'].dt.hour
# data['day'] = data['datetime'].dt.weekday

print(data['datetime'][:3])
data.head(3)
# extract age string in months from string values to numeric

def extract_months(value):
    try:
        number, unit = value.split(' ')
        number = int(number)
        
        if unit.startswith('year'):
            number *= 12
        elif unit.startswith('week'):
            number *= 0.25
            
    except:
        number = np.nan
    
    return number

data['age'] = data['age_string'].apply(extract_months)
                
data[['age_string', 'age']][:10]

0   2013-10-01 09:31:00
1   2013-10-01 10:39:00
2   2013-10-01 10:44:00
Name: datetime, dtype: datetime64[ns]

  age_string     age
0   2 months    2.00
1     1 week    0.25
2     1 week    0.25
3     1 week    0.25
4    4 years   48.00
5    3 years   36.00
6    2 years   24.00
7    3 years   36.00
8    9 years  108.00
9   6 months    6.00