In [ ]:
Working with time series data

In [9]:
# Working with time series data
import re
import numpy as np
import pandas as pd 

filename = '../data/Animals_center_data.csv'
# read data & create DataFrame
data = pd.DataFrame(pd.read_csv(filename))

# Convert the datetime column to actual datetimes
data['datetime'] = pd.to_datetime(data['datetime'])

# # Datetime-related functions are accessed through the .dt attribute
# data['year'] = data['datetime'].dt.year
# data['hour'] = data['datetime'].dt.hour
# data['day'] = data['datetime'].dt.weekday

print(data['datetime'][:3])
data.head(3)
# extract age string in months from string values to numeric

def extract_months(value):
    try:
        number, unit = value.split(' ')
        number = int(number)
        
        if unit.startswith('year'):
            number *= 12
            
    except:
        number = np.nan
    
    return number

data['age'] = data['age_string'].apply(extract_months)

0   2013-10-01 09:31:00
1   2013-10-01 10:39:00
2   2013-10-01 10:44:00
Name: datetime, dtype: datetime64[ns]

,Unnamed: 0,id,Name,datetime,MonthYear,outcome,outcome_subtype,animal,sex_string,age_string,Breed,Color
0,0,A659834,*Dudley,2013-10-01 09:31:00,10/01/2013 09:31:00 AM,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Black
1,1,A664235,NaN,2013-10-01 10:39:00,10/01/2013 10:39:00 AM,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
2,2,A664237,NaN,2013-10-01 10:44:00,10/01/2013 10:44:00 AM,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White