In [21]:
import os 
import pandas as pd 
os.listdir() #check available file list

['.ipynb_checkpoints',
 'drop_DataFrame_columns_and rows.ipynb',
 'geocoding_addresses.ipynb',
 'indexing_and_slicing_DataFrames.ipynb',
 'loading_data.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'update_and_add_dataframe_columns_and_rows.ipynb']

In [6]:
# open 'supermarkets-commas.txt' file and index by 'ID'
df_01 = pd.read_csv("supermarkets-commas.txt")
df_01.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
# drop row ID 5 i.e " 5	1056 Sanchez St	San Francisco	California	USA	Sanchez	12"
df_01.drop(4,0)

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [10]:
# drop the first three(3) columns by index
df_01.drop(df_01.columns[0:3], 1)

              State Country         Name  Employees
0          CA 94114     USA      Madeira          8
1          CA 94119     USA  Bready Shop         15
2  California 94114     USA  Super River         25
3          CA 94114     USA   Ben's Shop         10
4        California     USA      Sanchez         12
5          CA 94114     USA   Richvalley         20