In [3]:
import os
import pandas as pd
os.listdir()

['.ipynb_checkpoints',
 'drop_DataFrame_columns_and rows.ipynb',
 'indexing_and_slicing_DataFrames.ipynb',
 'loading_data.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'update_and_add_dataframe_columns_and_rows.ipynb']

In [9]:
# open a csv file
df_3 = pd.read_csv("supermarkets.csv")
df_3.set_index("Address")

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [8]:
# determine the no. of rows and columns
df_3.shape

(6, 7)

In [11]:
len(df_3.index)

6

In [14]:
# Add a new column "Continent" and fill values with "North America"
df_3["Continent"] = df_3.shape[0]*["North America"]
df_3

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America

In [15]:
# check new shape
df_3.shape

(6, 8)

In [16]:
# Modify a column's details - update "Continent" to have "Country + Continent"
df_3["Continent"] = df_3["Country"]+ ", " + "N. America"

In [17]:
df_3

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA, N. America"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA, N. America"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA, N. America"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA, N. America"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA, N. America"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA, N. America"

In [19]:
# Adding a new row
# Transpose the dataframe and upadate as would a column

In [20]:
df_3.set_index("ID")
df_3_t = df_3.T

In [23]:
df_3_t

,0,1,2,3,4,5
ID,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
Continent,"USA, N. America","USA, N. America","USA, N. America","USA, N. America","USA, N. America","USA, N. America"

In [29]:
# add a new "column and details
# df_3_t[index] = ["ID","Address","City","State","Country","Name","Employees","Continent"]
df_3_t[6] = [7,"7853 Chania St", "Muthetheni", "Kayole", "Kenya", "Mama Mboga", 14, "East, AFRICA" ]

In [27]:
# Transpose columns to original position back as before
df_3 = df_3_t.T

In [30]:
# updated dataframe
df_3

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA, N. America"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA, N. America"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA, N. America"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA, N. America"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA, N. America"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA, N. America"
6,7,7853 Chania St,Muthetheni,Kayole,Kenya,Mama Mboga,14,"East, AFRICA"