In [24]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file

In [25]:
##Data from Google Finance
# aapl = DataReader("AAPL", "google")
start = datetime.datetime(2017,10,1)
end = datetime.datetime(2017,10,20)
# end = datetime.datetime.now() #today
df = data.DataReader(name="AMZN", data_source="yahoo",start=start,end=end)
# type(df) #pandas.core.frame.DataFrame

In [23]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-10-02,964.000000,967.309998,952.119995,959.190002,959.190002,2442900
2017-10-03,958.000000,963.690002,950.369995,957.099976,957.099976,2666600
2017-10-04,954.210022,967.789978,954.049988,965.450012,965.450012,2527400
2017-10-05,970.000000,981.510010,969.640015,980.849976,980.849976,3229200
2017-10-06,975.640015,995.750000,975.640015,989.580017,989.580017,3782100

### For days that stock prices rose / fell

i.e the closing price is greater than the openning

In [42]:
rise = df.index[df.Close > df.Open]
fall = df.index[df.Close < df.Open]
avg = (df.Close + df.Open) / 2
hours_12 = 12*60*60*1000

### Create a status column for the data extraction

In [45]:
def inc_dec(c, o):
    if c > o:
        value="Rise"
    elif c < o:
        value = "Fall"
    else:
        value = "Same"
    return value

df["Status"]=[inc_dec(c,o) for c, o in zip(df.Close, df.Open)]

In [46]:
df

,Open,High,Low,Close,Adj Close,Volume,Status
Date,,,,,,,
2017-10-02,964.000000,967.309998,952.119995,959.190002,959.190002,2442900,Fall
2017-10-03,958.000000,963.690002,950.369995,957.099976,957.099976,2666600,Fall
2017-10-04,954.210022,967.789978,954.049988,965.450012,965.450012,2527400,Rise
2017-10-05,970.000000,981.510010,969.640015,980.849976,980.849976,3229200,Rise
2017-10-06,975.640015,995.750000,975.640015,989.580017,989.580017,3782100,Rise
2017-10-09,993.239990,998.500000,987.500000,990.989990,990.989990,2938600,Fall
2017-10-10,996.669983,997.950012,980.099976,987.200012,987.200012,3084900,Fall
2017-10-11,991.270020,995.500000,986.700012,995.000000,995.000000,2337100,Rise
2017-10-12,996.809998,1008.440002,992.400024,1000.929993,1000.929993,4067300,Rise
2017-10-13,1007.000000,1007.770020,1001.030029,1002.940002,1002.940002,2431500,Fall
2017-10-16,1008.440002,1009.570007,1001.039978,1006.340027,1006.340027,2008900,Fall
2017-10-17,1005.590027,1011.469971,1004.380005,1009.130005,1009.130005,2319700,Rise
2017-10-18,1009.270020,1022.309998,996.549988,997.000000,997.000000,2499700,Fall
2017-10-19,990.000000,991.049988,980.239990,986.609985,986.609985,3108200,Fall
2017-10-20,993.530029,994.619995,982.000000,982.909973,982.909973,2327100,Fall

Use Bokeh for plotting

In [44]:
p=figure(x_axis_type='datetime', width=1000, height=300)
p.title.text="Candlestick Chart"
p.rect(rise,avg, hours_12, abs(df.Open-df.Close), fill_color="green", line_color="black" )

p.rect(fall,avg, hours_12, abs(df.Open-df.Close), fill_color="red", line_color="black" )


output_file("candle_stick_chart.html")

show(p)
# p.grid.grid_line_alpha=0.3

INFO:bokeh.core.state:Session output file 'candle_stick_chart.html' already exists, will be overwritten.
ERROR:/Users/4bic/anaconda/lib/python3.6/site-packages/bokeh/core/validation/check.py:E-1000 (COLUMN_LENGTHS): ColumnDataSource column lengths are not all the same: ColumnDataSource(id='588982b4-73a8-470d-b13c-5031aa52ee95', ...)
ERROR:/Users/4bic/anaconda/lib/python3.6/site-packages/bokeh/core/validation/check.py:E-1000 (COLUMN_LENGTHS): ColumnDataSource column lengths are not all the same: ColumnDataSource(id='889ab354-2d15-4787-a038-a49bccb89efb', ...)
ERROR:/Users/4bic/anaconda/lib/python3.6/site-packages/bokeh/core/validation/check.py:E-1000 (COLUMN_LENGTHS): ColumnDataSource column lengths are not all the same: ColumnDataSource(id='3cf05512-7528-4812-9dd5-4fb37ae9e430', ...)
ERROR:/Users/4bic/anaconda/lib/python3.6/site-packages/bokeh/core/validation/check.py:E-1000 (COLUMN_LENGTHS): ColumnDataSource column lengths are not all the same: ColumnDataSource(id='31c38ced-4472-4932-9140-3f6c358f38fc', ...)
ERROR:/Users/4bic/anaconda/lib/python3.6/site-packages/bokeh/core/validation/check.py:E-1000 (COLUMN_LENGTHS): ColumnDataSource column lengths are not all the same: ColumnDataSource(id='9e671cc9-a565-4ae2-bc55-1a07340f4005', ...)
ERROR:/Users/4bic/anaconda/lib/python3.6/site-packages/bokeh/core/validation/check.py:E-1000 (COLUMN_LENGTHS): ColumnDataSource column lengths are not all the same: ColumnDataSource(id='210f1c40-8889-4f75-a145-2fed5daa40b6', ...)
ERROR:/Users/4bic/anaconda/lib/python3.6/site-packages/bokeh/core/validation/check.py:E-1000 (COLUMN_LENGTHS): ColumnDataSource column lengths are not all the same: ColumnDataSource(id='4b18428e-e673-4a7d-82bd-d3b32d78a77d', ...)