In [1]:
import numpy as np
import pandas as pd 
df = pd.read_csv('track.csv',parse_dates=['time'])
df.head()

                     time        lat        lng      height
0 2015-08-20 03:48:07.235  35.015021  32.519585  136.199997
1 2015-08-20 03:48:24.734  35.014954  32.519606  126.599998
2 2015-08-20 03:48:25.660  35.014871  32.519612  123.000000
3 2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
4 2015-08-20 03:48:27.828  35.014776  32.519689  118.900002

In [2]:
df.dtypes #data types

time      datetime64[ns]
lat              float64
lng              float64
height           float64
dtype: object

In [3]:
df.shape

(740, 4)

In [4]:
df.describe()

              lat         lng      height
count  740.000000  740.000000  740.000000
mean    35.015832   32.512191   97.876892
std      0.003665    0.002974   11.985234
min     35.009294   32.508092   77.500000
25%     35.012891   32.509432   88.000000
50%     35.015709   32.511454   97.649998
75%     35.018650   32.514143  106.450001
max     35.022774   32.519734  136.199997

In [5]:
df.lat[0] #object at 0

35.015021000000004

##### Access Rows and Columns

In [6]:
df.loc[3:7] #slicing a section

                     time        lat        lng      height
3 2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
4 2015-08-20 03:48:27.828  35.014776  32.519689  118.900002
5 2015-08-20 03:48:29.720  35.014704  32.519691  119.900002
6 2015-08-20 03:48:30.669  35.014657  32.519734  120.900002
7 2015-08-20 03:48:33.793  35.014563  32.519719  121.699997

In [7]:
df[["lat", "lng"]][3:7] #Slice within a range

         lat        lng
3  35.014824  32.519654
4  35.014776  32.519689
5  35.014704  32.519691
6  35.014657  32.519734

In [8]:
df.index

RangeIndex(start=0, stop=740, step=1)

In [9]:
df1 = pd.DataFrame(np.arange(10).reshape((5,2)),
                   columns=['x','y'], index=['a','b','c','d','e'])
df1

   x  y
a  0  1
b  2  3
c  4  5
d  6  7
e  8  9

In [10]:
df1.loc['a']

x    0
y    1
Name: a, dtype: int64

In [11]:
df.index = df.time #index the dataframe using the time column

In [15]:
df.loc['2015-08-20 03:48']

,time,lat,lng,height
time,,,,
2015-08-20 03:48:07.235,2015-08-20 03:48:07.235,35.015021,32.519585,136.199997
2015-08-20 03:48:24.734,2015-08-20 03:48:24.734,35.014954,32.519606,126.599998
2015-08-20 03:48:25.660,2015-08-20 03:48:25.660,35.014871,32.519612,123.000000
2015-08-20 03:48:26.819,2015-08-20 03:48:26.819,35.014824,32.519654,120.500000
2015-08-20 03:48:27.828,2015-08-20 03:48:27.828,35.014776,32.519689,118.900002
2015-08-20 03:48:29.720,2015-08-20 03:48:29.720,35.014704,32.519691,119.900002
2015-08-20 03:48:30.669,2015-08-20 03:48:30.669,35.014657,32.519734,120.900002
2015-08-20 03:48:33.793,2015-08-20 03:48:33.793,35.014563,32.519719,121.699997
2015-08-20 03:48:34.869,2015-08-20 03:48:34.869,35.014549,32.519694,121.199997
2015-08-20 03:48:37.708,2015-08-20 03:48:37.708,35.014515,32.519625,121.699997
2015-08-20 03:48:38.839,2015-08-20 03:48:38.839,35.014505,32.519599,121.800003
2015-08-20 03:48:41.980,2015-08-20 03:48:41.980,35.014481,32.519514,122.599998
2015-08-20 03:48:42.725,2015-08-20 03:48:42.725,35.014472,32.519486,123.000000
2015-08-20 03:48:45.896,2015-08-20 03:48:45.896,35.014439,32.519405,122.699997
2015-08-20 03:48:46.662,2015-08-20 03:48:46.662,35.014432,32.519379,122.699997
2015-08-20 03:48:49.829,2015-08-20 03:48:49.829,35.014414,32.519309,122.699997
2015-08-20 03:48:50.665,2015-08-20 03:48:50.665,35.014400,32.519287,123.300003
2015-08-20 03:48:53.692,2015-08-20 03:48:53.692,35.014372,32.519211,122.300003
2015-08-20 03:48:54.662,2015-08-20 03:48:54.662,35.014365,32.519187,122.599998
2015-08-20 03:48:58.869,2015-08-20 03:48:58.869,35.014337,32.519106,122.000000
2015-08-20 03:48:59.663,2015-08-20 03:48:59.663,35.014331,32.519084,121.800003

In [19]:
import pytz

In [42]:
ts = df.index[0]
ts.tz_localize(pytz.utc)

TypeError: Cannot localize tz-aware Timestamp, use tz_convert for conversions

In [43]:
ts.tz_localize(pytz.UTC).tz_convert(pytz.timezone('Africa/Nairobi'))

TypeError: Cannot localize tz-aware Timestamp, use tz_convert for conversions

TypeError: Already tz-aware, use tz_convert to convert.

In [37]:
df.index = df.index.tz_localize(pytz.UTC).tz_convert(pytz.timezone('Africa/Nairobi'))

TypeError: Already tz-aware, use tz_convert to convert.

In [44]:
df.index

DatetimeIndex(['2015-08-20 06:48:07.235000+03:00',
               '2015-08-20 06:48:24.734000+03:00',
               '2015-08-20 06:48:25.660000+03:00',
               '2015-08-20 06:48:26.819000+03:00',
               '2015-08-20 06:48:27.828000+03:00',
               '2015-08-20 06:48:29.720000+03:00',
               '2015-08-20 06:48:30.669000+03:00',
               '2015-08-20 06:48:33.793000+03:00',
               '2015-08-20 06:48:34.869000+03:00',
               '2015-08-20 06:48:37.708000+03:00',
               ...
               '2015-08-20 07:20:18.844000+03:00',
               '2015-08-20 07:20:21.996000+03:00',
               '2015-08-20 07:20:22.897000+03:00',
               '2015-08-20 07:20:24.905000+03:00',
               '2015-08-20 07:20:25.835000+03:00',
               '2015-08-20 07:20:28.982000+03:00',
               '2015-08-20 07:20:29.923000+03:00',
               '2015-08-20 07:20:32.863000+03:00',
               '2015-08-20 07:20:33.994000+03:00',
               '2015-08-20 07:20:42.329000+03:00'],
              dtype='datetime64[ns, Africa/Nairobi]', name='time', length=740, freq=None)

use pure python packages

In [51]:
import geo
import sys
sys.path

['',
 '/Users/4bic/anaconda3/lib/python36.zip',
 '/Users/4bic/anaconda3/lib/python3.6',
 '/Users/4bic/anaconda3/lib/python3.6/lib-dynload',
 '/Users/4bic/anaconda3/lib/python3.6/site-packages',
 '/Users/4bic/anaconda3/lib/python3.6/site-packages/aeosa',
 '/Users/4bic/anaconda3/lib/python3.6/site-packages/IPython/extensions',
 '/Users/4bic/.ipython']

In [49]:
??geo

In [52]:
from geo import circle_dist

In [55]:
lat1, lng1 = df.iloc[0].lat, df.iloc[0].lng
lat2, lng2 = df.iloc[1].lat, df.iloc[1].lng

In [56]:
circle_dist(lat1, lng1, lat2, lng2)

0.0076951035867691957