In [45]:
import pandas as pd 
df = pd.read_csv('track.csv',parse_dates=['time'])
df.head()

                     time        lat        lng      height
0 2015-08-20 03:48:07.235  35.015021  32.519585  136.199997
1 2015-08-20 03:48:24.734  35.014954  32.519606  126.599998
2 2015-08-20 03:48:25.660  35.014871  32.519612  123.000000
3 2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
4 2015-08-20 03:48:27.828  35.014776  32.519689  118.900002

In [46]:
df.dtypes #data types

time      datetime64[ns]
lat              float64
lng              float64
height           float64
dtype: object

In [47]:
df.shape

(740, 4)

In [48]:
df.describe()

              lat         lng      height
count  740.000000  740.000000  740.000000
mean    35.015832   32.512191   97.876892
std      0.003665    0.002974   11.985234
min     35.009294   32.508092   77.500000
25%     35.012891   32.509432   88.000000
50%     35.015709   32.511454   97.649998
75%     35.018650   32.514143  106.450001
max     35.022774   32.519734  136.199997

In [53]:
df.lat[0] #object at 0

35.015021000000004

In [55]:
df.loc[3:7] #slicing a section

                     time        lat        lng      height
3 2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
4 2015-08-20 03:48:27.828  35.014776  32.519689  118.900002
5 2015-08-20 03:48:29.720  35.014704  32.519691  119.900002
6 2015-08-20 03:48:30.669  35.014657  32.519734  120.900002
7 2015-08-20 03:48:33.793  35.014563  32.519719  121.699997

In [60]:
df[["lat", "lng"]][3:7] #Slice within a range

         lat        lng
3  35.014824  32.519654
4  35.014776  32.519689
5  35.014704  32.519691
6  35.014657  32.519734

In [61]:
df.index

RangeIndex(start=0, stop=740, step=1)